.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6rem;
  padding: 6rem 10rem;
  min-height: 100vh;
}

.namecard {
  min-width: 200px;
  text-align: center;
}

.name {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(var(--foreground-rgb), 0.8);
  font-weight: 300;
}

.portrait {
  border-radius: 50%;
  border: 0.2rem solid rgb(var(--foreground-rgb));
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding-top: 4rem;
}

.bottomBar {
  display: none;
}

.contact .logo {
  transition: 200ms;
}

.about {
  padding-bottom: 10rem;
}

.hello {
  margin-bottom: 2rem;
}

.about p {
  margin-bottom: 2rem;
  line-height: 2;
}


/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .hello {
    display: none;
  }

  .namecard .contact {
    display: none;
  }

  .bottomBar {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-rgb)) 40%
    );
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .contact .logo {
    filter: invert(1);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .contact .logo:hover {
    transform: translateY(-4px);
  }
}

@media (prefers-reduced-motion) {
  .contact .logo:hover {
    transform: none;
  }
}