.namecard {
  position: fixed;
  top: 0px;
  left: 150px;
  padding: 6rem 1rem 2rem 1rem;
  width: 300px;
  text-align: center;
  overflow-y: auto;
  max-height: 100%;
}

.about {
  padding: 6rem 20% 6rem 480px;
}

.name {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.portraitBox {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.portrait {
  border-radius: 50%;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.namecard .contact {
  padding-top: 4rem;
}

.bottomBar {
  display: none;
}

.contact .logo {
  transition: 200ms;
}

.section {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.2);
}

.section:last-child {
  border-bottom: unset;
}

.section h1,
.section h2 {
  margin-bottom: 1.5rem;
}

.section p {
  margin-bottom: 1rem;
}

.section li {
  padding-left: 0.2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.section ul.nested li {
  margin-bottom: 0.2rem;
}

.section li::marker {
  font-size: 20px;
}

.section li p {
  margin-bottom: unset;
}

.section li p:nth-child(2) {
  font-size: small;
  font-weight: bold;
  color: rgba(var(--foreground-rgb), 0.6);
}

.section li p.projectDesc {
  margin-bottom: 1rem;
}

.certificate {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0rem;
  align-items: center;
}

.certificate a {
  line-height: 1;
}

.badge {
  transition: 200ms;
}

.textLink {
  color: var(--text-link-color);
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .namecard {
    left: 40px;
  }

  .about {
    padding: 6rem 10% 6rem 350px;
  }
}

@media (max-width: 1000px) {
  .namecard {
    left: 0px;
  }

  .about {
    padding: 6rem 1rem 6rem 310px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .namecard {
    position: inherit;
    width: 100%;
    padding: 2rem 1rem;
  }

  .about {
    width: 100%;
    padding: 1rem;
    padding-bottom: 10rem;
  }

  .namecard .contact {
    display: none;
  }

  .hello {
    display: none;
  }

  .portraitBox {
    width: 120px;
    height: 120px;
  }

  .bottomBar {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 4rem;
    padding-bottom: 1rem;
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-rgb)) 40%);
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .contact .logo {
    filter: invert(1);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .contact .logo:hover {
    transform: translateY(-4px);
  }
}

@media (prefers-reduced-motion) {
  .contact .logo:hover {
    transform: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .badge:hover {
    transform: translateY(-8px);
  }
}
